<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h1>Music</h1>
    {% for blog in blogs %}  
        <div>
            <h3> {{blog.title}} </h3>
            {{blog.id}}
            {{blog.singer}}
            {{blog.summary}} <a href="{%url 'detal' blog.id %}">...more</a>
            <br>
        </div>
    {% endfor %}
    </div>
</body>
</html>